---
import { cn } from "@/lib/utils"
import Icon from "@/components/base/Icon.astro"
import Link from "@/components/base/Link.astro"

import { getProcessedProfileLinks, type ProfileLinkConfig } from "./helper"

interface Props {
  links?: ProfileLinkConfig | Record<string, string>
  class?: string
  includeLabel?: boolean
  includeEmail?: boolean
  includeRss?: boolean
}

const {
  links,
  class: className = "",
  includeLabel = false,
  includeEmail = false,
  includeRss = false
} = Astro.props

const processedLinks = getProcessedProfileLinks(links, includeRss, includeEmail)
---

<ul class={`flex flex-wrap gap-x-2 gap-y-1 ${className}`}>
  {
    processedLinks.map(({ href, isExternal, label, iconName }) => (
      <li>
        <Link
          href={href}
          aria-label={label}
          title={label}
          rel="me"
          class={cn(
            "text-muted-foreground flex touch-manipulation items-center transition-colors",
            "focus-visible:ring-ring focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none",
            includeLabel
              ? [
                  "hover:text-accent-foreground hover:bg-accent size-10 justify-center rounded-md border",
                  "sm:hover:text-accent sm:size-auto sm:gap-x-1 sm:border-0 sm:p-1 sm:hover:bg-transparent"
                ]
              : "hover:text-accent-foreground hover:bg-accent size-10 justify-center rounded-md border"
          )}
          external={isExternal}
        >
          <Icon name={iconName} class="size-5" />
          {includeLabel ? <span class="hidden sm:inline" set:html={label} /> : null}
        </Link>
      </li>
    ))
  }
</ul>
