---
import type { ProfileConfig } from "@/types"

import Avatar from "@/components/base/Avatar.astro"
import Badge from "@/components/base/Badge.astro"
import Collapse from "@/components/base/Collapse.astro"
import Icon from "@/components/base/Icon.astro"
import avatar from "@/assets/avatar.jpg"

import EmailLink from "./EmailLink.astro"
import ProfileLinks from "./ProfileLinks.astro"
import { Content as AboutContent } from "@/content/about.md"

interface Props {
  profile: ProfileConfig
}

const { profile } = Astro.props
---

<article class="rounded-lg border">
  <header class="flex flex-col items-start gap-4 p-4 sm:flex-row">
    <Avatar
      src={avatar}
      alt={profile.name}
      fallback={profile.name.charAt(0)}
      data-slot="profile-avatar"
      width={200}
      height={200}
      loading="eager"
      fetchpriority="high"
    />

    <div class="flex-1 space-y-4">
      <div class="space-y-2">
        <h1 class="flex flex-wrap items-center gap-2 text-3xl font-bold">
          {profile.name}
          {
            profile.pronouns && (
              <Badge variant="outline" class="text-xs">
                {profile.pronouns}
              </Badge>
            )
          }
        </h1>
        {profile.othernames && <p class="text-muted-foreground text-sm">{profile.othernames}</p>}
        <p class="text-foreground text-lg">{profile.tagline}</p>
      </div>

      <div class="text-muted-foreground space-y-2">
        <EmailLink email={profile.email} />

        {
          profile.location && (
            <span class="flex items-center gap-2">
              <Icon name="mingcute:location-line" class="size-4" />
              <span>{profile.location}</span>
            </span>
          )
        }

        {
          profile.phone && (
            <span class="flex items-center gap-2">
              <Icon name="mingcute:phone-line" class="size-4" />
              <span>{profile.phone}</span>
            </span>
          )
        }
      </div>

      <ProfileLinks includeLabel={true} />

      {
        profile.pronunciation && (
          <Collapse title="Pronunciation" variant="muted">
            <p class="text-muted-foreground">{profile.pronunciation}</p>
          </Collapse>
        )
      }
    </div>
  </header>

  <section class="prose px-4">
    <AboutContent />
  </section>
</article>
