---
import type { ProfileConfig } from "@/types"

import Avatar from "@/components/base/Avatar.astro"
import Badge from "@/components/base/Badge.astro"
import Collapse from "@/components/base/Collapse.astro"
import Icon from "@/components/base/Icon.astro"
import avatar from "@/assets/avatar.jpg"

import ProfileLinks from "./ProfileLinks.astro"
import { Content as AboutContent } from "@/content/about.md"

interface Props {
  profile: ProfileConfig
}

const { profile } = Astro.props
---

<article class="rounded-lg border">
  <header class="flex flex-col items-center gap-4 p-4 sm:flex-row sm:items-start">
    <Avatar
      src={avatar}
      alt={profile.name}
      fallback={profile.name.charAt(0)}
      class="size-64"
      data-slot="profile-avatar"
      priority
    />

    <div class="flex flex-1 flex-col space-y-3">
      <div class="flex flex-wrap items-center gap-3">
        <div class="flex flex-col">
          <h1 class="text-3xl leading-none font-bold">{profile.name}</h1>
          {
            profile.othernames && (
              <p class="text-muted-foreground mt-1 text-sm">{profile.othernames}</p>
            )
          }
        </div>
        {
          profile.pronouns && (
            <Badge variant="outline" class="text-xs">
              {profile.pronouns}
            </Badge>
          )
        }
      </div>

      <p class="text-foreground text-lg">{profile.tagline}</p>

      {
        profile.location && (
          <p class="text-muted-foreground mt-1 flex items-center gap-1 text-xs">
            <Icon name="mingcute:location-line" />
            {profile.location}
          </p>
        )
      }

      {
        profile.phone && (
          <p class="text-muted-foreground mt-1 flex items-center gap-1 text-xs">
            <Icon name="mingcute:phone-line" />
            {profile.phone}
          </p>
        )
      }

      <ProfileLinks includeLabel={true} />

      {
        profile.pronunciation && (
          <Collapse title="Pronunciation" variant="muted">
            <p class="text-muted-foreground">{profile.pronunciation}</p>
          </Collapse>
        )
      }
    </div>
  </header>

  <section class="prose max-w-none px-4">
    <AboutContent />
  </section>
</article>
