---
import Icon from "@/components/base/Icon.astro"
import Link from "@/components/base/Link.astro"

import { getProcessedProfileLinks, type ProfileLinkConfig } from "./helper"

interface Props {
  links?: ProfileLinkConfig | Record<string, string>
  class?: string
  includeLabel?: boolean
  includeRss?: boolean
}

const { links, class: className = "", includeLabel = false, includeRss = false } = Astro.props

const processedLinks = getProcessedProfileLinks(links, includeRss)
---

<nav class={`flex flex-wrap gap-2 ${className}`} role="list">
  {
    processedLinks.map(({ href, label, iconName }) => {
      const isExternal = !href.startsWith("/")

      return (
        <Link
          href={href}
          aria-label={label}
          title={label}
          class:list={[
            "text-muted-foreground flex touch-manipulation items-center transition-colors",
            "focus-visible:ring-ring focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none",
            includeLabel
              ? "gap-x-1 p-1"
              : [
                  "size-10 justify-center rounded-md border",
                  "has-[>svg:only-child]:aspect-square",
                  "hover:text-accent-foreground hover:bg-accent"
                ]
          ]}
          external={isExternal}
        >
          <Icon name={iconName} class="size-5" />
          {includeLabel && <span set:html={label} />}
        </Link>
      )
    })
  }
</nav>
