---
import { PROFILE } from "@/config"
import Avatar from "@/components/base/Avatar.astro"
import Badge from "@/components/base/Badge.astro"
import Collapse from "@/components/base/Collapse.astro"
import Icon from "@/components/base/Icon.astro"
import avatar from "@/assets/avatar.jpg"

import { ProfileLinks } from "./profile"
import { Content as AboutContent } from "@/content/about.md"
---

<article class="rounded-lg border">
  <header class="flex flex-col items-center gap-4 p-4 sm:flex-row sm:items-start">
    <Avatar
      src={avatar}
      alt={PROFILE.name}
      fallback={PROFILE.name.charAt(0)}
      class="size-64"
      data-slot="profile-avatar"
      priority
    />

    <div class="flex flex-1 flex-col space-y-3">
      <div class="flex flex-wrap items-center gap-3">
        <div class="flex flex-col">
          <h1 class="text-3xl leading-none font-bold">{PROFILE.name}</h1>
          {
            PROFILE.othernames && (
              <p class="text-muted-foreground mt-1 text-sm">{PROFILE.othernames}</p>
            )
          }
        </div>
        {
          PROFILE.pronouns && (
            <Badge variant="outline" class="text-xs">
              {PROFILE.pronouns}
            </Badge>
          )
        }
      </div>

      <p class="text-foreground text-lg">{PROFILE.tagline}</p>

      {
        PROFILE.location && (
          <p class="text-muted-foreground mt-1 flex items-center gap-1 text-xs">
            <Icon name="mingcute:location-line" class="size-4" />
            {PROFILE.location}
          </p>
        )
      }

      {
        PROFILE.phone && (
          <p class="text-muted-foreground mt-1 flex items-center gap-1 text-xs">
            <Icon name="mingcute:phone-line" class="size-4" />
            {PROFILE.phone}
          </p>
        )
      }

      <ProfileLinks includeLabel={true} />

      {
        PROFILE.pronunciation && (
          <Collapse title="Pronunciation" variant="muted">
            <p class="text-muted-foreground">{PROFILE.pronunciation}</p>
          </Collapse>
        )
      }
    </div>
  </header>

  <section class="prose max-w-none px-4">
    <AboutContent />
  </section>
</article>
