---
import { PostManager } from "@/lib/blog"
import Layout from "@/layouts/Layout.astro"
import AuthorCard from "@/components/blog/AuthorCard.astro"
import PreviewCard from "@/components/blog/PreviewCard.astro"
import Breadcrumbs from "@/components/layout/Breadcrumbs.astro"

export async function getStaticPaths() {
  const authors = await PostManager.getInstance().getAllAuthors()

  return authors.map((author) => ({
    params: { id: author.id },
    props: { authorId: author.id }
  }))
}

const { authorId } = Astro.props

const postManager = PostManager.getInstance()
const [author, authorPosts] = await Promise.all([
  postManager.getAuthorById(authorId),
  postManager.getPostsByAuthor(authorId)
])

const authorPostsMetadata = await Promise.all(
  authorPosts.map((post) => postManager.getMetadata(post.id))
)

if (!author) {
  return Astro.redirect("/404")
}
---

<Layout
  title={`${author.name} (Author)`}
  description={author.bio || `Profile of ${author.name}.`}
  noindex
  type="profile"
>
  <Breadcrumbs
    items={[
      { href: "/authors", label: "Authors", icon: "group" },
      { label: author.name, icon: "person" }
    ]}
  />

  <section>
    <AuthorCard author={author} />
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Posts by {author.name}</h2>
    {
      authorPosts.length > 0 ? (
        <ul class="flex flex-col gap-4">
          {authorPostsMetadata.map((metadata) => (
            <li>
              <PreviewCard metadata={metadata} />
            </li>
          ))}
        </ul>
      ) : (
        <p class="text-muted-foreground">No posts available from this author.</p>
      )
    }
  </section>
</Layout>
