---
import { FOOTER, PROFILE, SITE } from "@site-config"
import Link from "@/components/base/Link.astro"
import ProfileLinks from "@/components/profile/ProfileLinks.astro"

// Create array of available source links
const sourceLinks = [
  FOOTER.sourceCode ? { href: FOOTER.sourceCode, label: "Source Code" } : null,
  FOOTER.sourceContent ? { href: FOOTER.sourceContent, label: "Source Content" } : null,
  ...FOOTER.footerLinks
].filter(Boolean) as { href: string; label: string }[]
---

<footer class="mt-4 border-t py-4">
  <div class="text-muted-foreground flex flex-col gap-2 text-sm">
    <ProfileLinks
      links={PROFILE.links}
      includeLabel={false}
      includeRss={true}
      includeEmail={true}
      class="my-2"
    />

    <p>
      &copy; <span id="current-year"></span>
      {PROFILE.name}.
      {
        SITE.license ? (
          <>
            {`Unless otherwise stated, all content is licensed under `}
            <Link class="text-foreground" href={SITE.license.href} external>
              {SITE.license.label}.
            </Link>
          </>
        ) : (
          `All rights reserved.`
        )
      }
    </p>

    {/** Source Links */}
    {
      sourceLinks.length > 0 && (
        <p class="text-xs">
          {sourceLinks.map((link, index) => [
            <Link href={link.href} class="text-muted-foreground" external underline>
              {link.label}
            </Link>,
            index < sourceLinks.length - 1 && " / "
          ])}
        </p>
      )
    }

    {/** Credits */}
    {
      FOOTER.credits && (
        <p class="text-xs">
          Built with{" "}
          <Link href="https://astro.build/" class="text-foreground" external>
            Astro.js
          </Link>{" "}
          &{" "}
          <Link href="https://ui.shadcn.com/" class="text-foreground" external>
            shadcn/ui
          </Link>
          . Modified{" "}
          <Link href="https://catppuccin.com/palette/" class="text-foreground" external>
            Catppuccin Latte and Mocha
          </Link>
          themes.
        </p>
      )
    }
  </div>
</footer>

<script>
  const yearElement = document.getElementById("current-year")
  if (yearElement) {
    yearElement.textContent = new Date().getFullYear().toString()
  }
</script>
