---
import type { PostMeta } from "@/lib/blog/types"
import FormattedDate from "@/components/base/FormattedDate.astro"
import Icon from "@/components/base/Icon.astro"
import Link from "@/components/base/Link.astro"
import ReadingTime from "@/components/base/ReadingTime.astro"

import AuthorAvatar from "./AuthorAvatar.astro"

interface Props {
  metadata: PostMeta
  variant: "card" | "full"
  class?: string
  showItems?: {
    authors?: boolean
    createdAt?: boolean
    updatedAt?: boolean
    readingTime?: boolean
    subpostCount?: boolean
  }
}

const {
  metadata,
  variant = "full",
  class: className,
  showItems = {
    authors: true,
    createdAt: true,
    updatedAt: true,
    readingTime: true,
    subpostCount: true
  }
} = Astro.props

const wordCount =
  metadata.hasSubposts && metadata.combinedWordCount
    ? metadata.combinedWordCount
    : metadata.wordCount

const isCard = variant === "card"
---

<div
  id="post-metadata"
  class:list={[
    "text-muted-foreground flex items-center gap-3 text-sm",
    isCard ? "card flex-wrap" : "flex-col justify-center sm:flex-row",
    className
  ]}
>
  {
    showItems.authors && metadata.authors.length > 0 && (
      <div class="flex items-center gap-1.5">
        {metadata.authors.map((author) => (
          <div class="flex items-center gap-1">
            <AuthorAvatar author={author} class="size-4" />
            {isCard ? (
              <span>{author.name}</span>
            ) : (
              <Link href={`/authors/${author.id}`} underline class="text-foreground">
                {author.name}
              </Link>
            )}
          </div>
        ))}
      </div>
    )
  }

  {
    showItems.createdAt && (
      <div class="flex items-center gap-1">
        <Icon name="publish" class="size-4" aria-label="Published" />
        <FormattedDate date={metadata.createdAt} />
      </div>
    )
  }

  {
    showItems.updatedAt && metadata.updatedAt && (
      <div class="flex items-center gap-1">
        <Icon name="edit" class="size-4" aria-label="Updated" />
        <FormattedDate date={metadata.updatedAt} />
      </div>
    )
  }

  {
    showItems.subpostCount && metadata.hasSubposts && (
      <div class="flex items-center gap-1">
        <Icon name="subposts" class="size-4" />
        <span>
          {metadata.subpostCount} subpost{metadata.subpostCount === 1 ? "" : "s"}
        </span>
      </div>
    )
  }

  {
    showItems.readingTime && wordCount > 0 && (
      <div class="flex items-center gap-1">
        <Icon name="reading-time" class="size-4" />
        <ReadingTime
          wordCount={isCard ? wordCount : metadata.wordCount}
          combinedWordCount={!isCard ? metadata.combinedWordCount : undefined}
        />
      </div>
    )
  }
</div>
<style>
  /* Add separator | to blog, but not stacked layout */
  #post-metadata.not(.flex-col) > *:not(:first-child)::before {
    content: "|";
    color: color-mix(in srgb, currentColor 50%, transparent);
    margin-inline: 0.5rem;
  }

  #post-metadata.card > *:not(:first-child)::before {
    display: none;
  }
</style>
