---
import type { AuthorData } from "@/lib/blog/types"
import { cn } from "@/lib/utils"
import ProfileLinks from "@/components/profile/ProfileLinks.astro"

import AuthorAvatar from "./AuthorAvatar.astro"

import "@/styles/card.css"

interface Props {
  author: AuthorData
}

const { author } = Astro.props
const { id, name, bio, pronouns, links } = author
const isAuthorPage = Astro.url.pathname === `/people/${id}`

const cardClasses = cn(
  "card relative flex flex-wrap gap-4 py-4",
  !isAuthorPage && "card-clickable group"
)
---

<article class={cardClasses}>
  {
    !isAuthorPage && (
      <a
        href={`/people/${id}`}
        class="absolute inset-0 z-20"
        aria-label={`View profile for ${name}`}
      />
    )
  }

  <AuthorAvatar author={author} fallbackStyle="all-initials" class="relative z-10 size-40" />

  <div class="relative z-10 flex grow flex-col justify-between gap-y-4">
    <div>
      <div class="flex flex-wrap items-center gap-x-2">
        <h3 class="text-lg font-medium">{name}</h3>
        {pronouns && <span class="text-muted-foreground text-sm">({pronouns})</span>}
      </div>
      <p class="text-muted-foreground text-sm">{bio}</p>
    </div>

    <ProfileLinks links={links} class="relative z-30" />
  </div>
</article>
