---
import Layout from "@/layouts/Layout.astro"
import CopyMarkdown from "@/components/base/CopyMarkdown.astro"
import FormattedDate from "@/components/base/FormattedDate.astro"
import Breadcrumbs from "@/components/layout/Breadcrumbs.astro"

interface Props {
  title: string
  description?: string
  modifiedTime?: Date
  prose?: boolean
  markdown?: string
  breadcrumbs?: Array<{
    href?: string
    label: string
    icon?: string
  }>
  [key: string]: any // Allow any additional props to pass through to Layout
}

const {
  title,
  description,
  modifiedTime,
  prose = true,
  markdown,
  breadcrumbs,
  ...layoutProps
} = Astro.props
---

<Layout title={title} description={description} modifiedTime={modifiedTime} {...layoutProps}>
  {breadcrumbs && <Breadcrumbs slot="breadcrumb" items={breadcrumbs} />}

  <section class="mb-4">
    <h1 class="mb-2 text-3xl font-bold">{title}</h1>
    {description && <p class="text-muted-foreground">{description}</p>}
    {
      modifiedTime && (
        <FormattedDate
          date={modifiedTime}
          class="text-muted-foreground text-sm italic before:content-['Last_updated:_']"
        />
      )
    }
  </section>

  {prose && markdown && <CopyMarkdown markdown={markdown} class="flex justify-end" />}
  {
    prose ? (
      <div class="prose lg:prose-lg">
        <slot />
      </div>
    ) : (
      <slot />
    )
  }
</Layout>
