---
import Layout from "@/layouts/Layout.astro"
import Breadcrumbs from "@/components/layout/Breadcrumbs.astro"
import PageHead from "@/components/layout/PageHead.astro"
import FormattedDate from "@/components/base/FormattedDate.astro"

interface Props {
  title: string
  description?: string
  lastModified?: Date
  class?: string
  breadcrumbs?: Array<{
    href?: string
    label: string
    icon?: string
  }>
}

const {
  title,
  description,
  lastModified,
  class: className = "max-w-3xl",
  breadcrumbs
} = Astro.props
---

<Layout class={className}>
  <PageHead slot="head" title={title} description={description} />

  {breadcrumbs && <Breadcrumbs items={breadcrumbs} />}

  <hgroup>
    <h1 class="text-3xl font-bold">{title}</h1>
    {
      lastModified && (
        <FormattedDate 
          date={lastModified} 
          class="text-muted-foreground text-sm italic before:content-['Last_updated:_']"
        />
      )
    }
    {description && <p class="text-muted-foreground my-6">{description}</p>}
  </hgroup>

  <main>
    <div class="prose dark:prose-invert max-w-none">
      <slot />
    </div>
  </main>
</Layout>
