---
import "@/styles/global.css"
import "@/styles/typography.css"

import { SITE } from "@site-config"
import { cn } from "@/lib/utils"
import Footer from "@/components/layout/Footer.astro"
import Head from "@/components/layout/Head.astro"
import Header from "@/components/layout/Header.astro"

interface Props {
  class?: string
  title?: string
  description?: string
  image?: string | URL
  noindex?: boolean
  type?: "website" | "article" | "profile"
  publishedTime?: Date
  modifiedTime?: Date
  author?: string
  tags?: string[]
  section?: string
}

const {
  class: className,
  title,
  description,
  image,
  noindex,
  type,
  publishedTime,
  modifiedTime,
  author,
  tags,
  section
} = Astro.props
---

<!doctype html>
<html class="bg-background text-foreground" lang={SITE.locale.lang}>
  <Head
    title={title}
    description={description}
    image={image}
    noindex={noindex}
    type={type}
    publishedTime={publishedTime}
    modifiedTime={modifiedTime}
    author={author}
    tags={tags}
    section={section}
  >
    <slot name="head" />
  </Head>
  <body class="flex h-fit min-h-screen flex-col gap-y-6 font-sans">
    <div class="bg-background/50 sticky top-0 z-50 divide-y backdrop-blur-sm xl:divide-none">
      <Header />
      <slot name="subposts-navigation-header" aria-label="Post-subposts navigation" />
      <slot name="toc-header" aria-label="Table of contents" />
    </div>
    <div class="flex w-full">
      <slot name="breadcrumb" />
    </div>
    <main class={cn("flex grow flex-col gap-y-4", className)}>
      <slot />
    </main>
    <Footer />
    <script src="/src/scripts/relative-date-updater.js"></script>
  </body>
</html>
